


/* styling for the Pen, unrelated to background */
body {  
  	background-image: url("./assets/background.png");
	
}

div.background img{
	z-index: 0;
	border-radius: 20px;
	margin-top: 120px;
	width: 1700px;
	margin-left: 100px;
}

nav{

	color: white;
}
a{
	color: white;
}

td img{
	width: 50px;
}
td{
	width: 100px;
}
div.item-publication {
	margin-top: 30px;
	margin-left: 20px;
	float: right;
	width: 280px;
	box-shadow: 3px 1px 0.7em dimgrey, -1em 0 0.7em dimgrey;
  	background-color: white ;
	border: 3px solid #435165;
	border-radius: 10px;

}
div.item-publication img{
	height: 40xp;
	width: 40xp;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	/*border: darkgrey ridge ;*/
	margin-left:40px ;
}
div.item-publication div{
	margin-bottom: 10px;
	margin-left :20px;

}
div.item-publication button{
	margin-bottom: 15px;
	background-color: dimgray;
	border-radius: 5px;
	border-color: grey;
	box-shadow: 100px;
}

div.item-publication button.right{

	margin-left: 100px;
}
div.item-publication button.left{

	margin-left: 50px;

}

div.item-publication h4{

	margin-left: 20px;
	margin-top: 20px;

}
button{
	margin-bottom: 20px;
}

button.right{
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;

}


input{
	margin-top: 20px;
	margin-bottom: 20px;
}

form.form-group{
	border-radius: 10px;
	border-color: black;
	border: solid;
}
form.form-group div{
	margin-top: 15px;
	margin-left: 50px;
	margin-right: 50px;
}

form.form-group button{
	margin-top: 15px;
	margin-left: 50px;
}