p {
  font-family: Lato;
}

.alert  {
  z-index: 3;
  margin-top: 100px;
  width: 1400px;
  text-align: center;
  font-size: large;
  font-style: !important;
  position: fixed;
  top: 0;
  center: 0.5rem;
  /*width: 400px;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 2rem;
  background: #fff;
  color: #f65656;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);*/
  transition:  all 0.2s ease-in-out;
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: translateY(1.25rem);
}