<div class="navigation col-lg-12">
    <nav class="navbar nav bg-dark navbar-dark fixed-top p-4 ">
            <div class="navbar-header" *ngIf="!CurrentUser">
                <a [routerLink]="['/']" [routerLinkActive]="['active']" class="navbar-brand"><a (click)="onClick('top')">{{title}}</a></a>
            </div>

            <ul class="nav navbar-nav" *ngIf="CurrentUser">
        
                <li>
                    <a [routerLink]="['/']" [routerLinkActive]="['active']"><a (click)="onClick('top')"><span class="glyphicon glyphicon-home"></span>{{title}}</a></a>
                </li>
                <li>
                    <a [routerLink]="['/publication']" [routerLinkActive]="['active']" > <a (click)="onClick('buttom')">Publications</a></a>
                </li>

            </ul><div *ngIf="CurrentUser">Welcome {{CurrentUser.username}} !</div>
            <ul class="nav navbar-nav navbar-right" *ngIf="!CurrentUser">
                <li>
                    
                    <a [routerLink]="['/login']" [routerLinkActive]="['active']"><a (click)="onClick('buttom')"><span class="glyphicon glyphicon-log-in"></span> Login</a></a>
                </li>
                <li>
                    
                    <a [routerLink]="['/register']" [routerLinkActive]="['active']"><a (click)="onClick('buttom')"><span class="glyphicon glyphicon-user" class="nav"></span> Register</a></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="CurrentUser">
                <li>
                    <a class="pointer" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>

                </li>
                <li><a [routerLink]="['/user']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-log-out"></span> Profil</a> </li>
            </ul>
          </nav>
</div>

<div id="top"></div>
<div class="background"> <img src="./assets/give.png"></div>
<div id="buttom"></div>
<div><br> <br> <br></div>

<!-- main app container -->
<div class="jumbotron">    </div>

    <div class="container">
        <div class="row">
            <app-alert></app-alert>
            <router-outlet></router-outlet>
                
            
</div>
</div>


